{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Categoría: {{ categoria.nombre }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- Contenedor para los botones -->
        <div class="d-flex justify-content-start gap-2 mt-3">
            <!-- Botón para guardar cambios -->
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            
            <!-- Botón para cancelar -->
            <a href="{% url 'app:listar_categorias' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
